.page {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
